{% extends 'base.html' %}

{% block head %}
    <title>Lose It</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>

{% endblock %}

{% block body %}

    <div class="header">
    
        <div id="userName" class="userName"> Hello {{ current_user.username }} </div>
        
        <a href="#">
            <div class="head-btns">Home</div>
        </a>
        <a href="#progress">
            <div class="head-btns">Progress</div>
        </a>
        <a href="{{ url_for('dashboard') }}">
            <div class="head-btns">Pets</div>
        </a>
        <a href="{{ url_for('logout') }}">
            <div class="head-btns">Sign out</div>
        </a>
        

    </div>

    <div class="pets">


    </div>


    <div class="meal-items">
        <div class="meal-entry">
            <div class="meal-title">
                <h3>Breakfast</h3>
            </div>
            
            {% for food in foods %}
                {% if food.meal == 'breakfast' and petId == food.pet_id and current_user.id == ownerId %}
                    <div class="logged-item"> 
                        <div class="item-name">
                            {{ food.brandName }}
                        </div>
                        
                        <div class="delete-btn">
                            <div class="cal-amount">
                                {{ food.calories }}
                            </div>
                            <a href="/delete/{{food.id}}"> X </a>
                        </div>        
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="meal-entry">
            <div class="meal-title">
                <h3>Lunch</h3>
                
            </div>

            {% for food in foods %}
                {% if food.meal == 'lunch' and petId == food.pet_id and current_user.id == ownerId %}
                    <div class="logged-item"> 
                        <div class="item-name">
                            {{ food.brandName }}
                        </div>
                        
                        <div class="delete-btn">
                            <div class="cal-amount">
                                {{ food.calories }}
                            </div>
                            <a href="/delete/{{food.id}}"> X </a>
                        </div>        
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="meal-entry">
            <div class="meal-title">
                <h3>Dinner</h3>
                
            </div>
            {% for food in foods %}
                {% if food.meal == 'dinner' and petId == food.pet_id and current_user.id == ownerId %}
                    <div class="logged-item"> 
                        <div class="item-name">
                            {{ food.brandName }}
                        </div>
                        
                        <div class="delete-btn">
                            <div class="cal-amount">
                                {{ food.calories }}
                            </div>
                            <a href="/delete/{{food.id}}"> X </a>
                        </div>        
                    </div>
                {% endif %}
            {% endfor %}
            </div>

        <div class="meal-entry">
            <div class="meal-title">
                <h3>Exercise</h3>
            </div>
        
            </div>
            {% for food in foods %}
                {% if food.meal == 'exercise' and petId == food.pet_id and current_user.id == ownerId  %}
                    <div class="logged-item"> 
                        <div class="item-name">
                            {{ food.brandName }}
                        </div>

                        <div class="delete-btn">
                            <a href="/delete/{{food.id}}"> X </a>
                        </div>        
                    </div>
                {% endif %}
            {% endfor %}
            </div>


        </div>        
    </div>

    <div class="calorie-window-container">
        <div class="calorie-window">
            <div class="head">
                <!-- Add {{ petName }}'s Meals Here -->
                Add {{ petName }}'s Meals Here

            </div>

            <div class="food-input">
                <form action="/" method="POST">
                    <input type="text" class="food-search" placeholder="Add Food or Exercise..." id="content" name="content">
                    <input type="text" class="cals" placeholder="Calories" id="calories" name="calories">
                    <select name="meal" id="meal">
                        <option disabled selected value="">Meal</option>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="exercise">Exercise</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div class="cal-totals">
                <div class="budget">
                    <div>Budget:</div>
                    <div class="cal-amount">1200</div>
                </div>
                
                <div class="total"> 
                    <div>Total:</div>
                    <div class="cal-amount">{{ foods|sum(attribute='calories') }}</div>
                </div>
            </div>
        </div>

    </div>

    
    <div class="progress" id="progress">
        <h3>Progress</h3>
        <div class="chart">Weight Data</div>
        <div id="tester" style="width:600px;height:400px;"></div>
    </div>

{% endblock %}